body {
    display: flex;
}

html, body {
    height: 100%;
}

button {
    border-radius: 10px;
  width: 150px;
  height: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wrapper > * {
    flex-basis: 100%;
}

.header {
    min-width: 100%;
    display: flex;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7E8;
    gap: 20px;
    justify-content: center;
    flex-basis: 100%;
}

.logo {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-start;
    padding-left: 40px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}


.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    padding: 10px;
    margin-left: 15%;
    flex-grow: 1;
    flex-shrink: 1;
}

.hero-right {
    display: flex;
    justify-content: flex-start;
    padding: 10rem;
}

.hero-right > img {
    flex-shrink: 1;
    flex-grow: 1;
    height: 300px;
    width: 500px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-header {
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding: 15px;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card > img {
    display: flex;
    flex-shrink: 1;
    border-radius: 20px;
    height: 150px;
    width: 150px;
}

.card > p {
    flex-wrap:wrap;
    margin: 10px;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
}

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #E5E7Eb;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    padding-left: 20%;
    padding-right: 20%;
}

.signature {
    align-self: flex-end;
    margin-top: 0;
}

.call-to-action-container {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.call-to-action-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.call-to-action-main-text {
    font-weight: bolder;
}

.call-to-action-right > button {
    margin-right: 300px;
}

.footer {
    display: flex;
    justify-content: center;
}